html, body {
  margin: 0;
}

#swipeable {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 200px;
}
#swipeable > div {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  margin: auto;
}
#swipeable > div:nth-child(1) {
  transform: translateX(-100%);
}
#swipeable > div:nth-child(2) {
  transform: translateX(0%);
}
#swipeable > div:nth-child(3) {
  transform: translateX(100%);
}
#swipeable > div:nth-child(4) {
  transform: translateY(-100%);
}
#swipeable > div:nth-child(5) {
  transform: translateY(100%);
}

.locked {
  transition: transform 200ms linear;
}